@use "../abstract/variables" as var;

body {
  transition: 0.5s ease all;
}

.main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  gap: 0;
  transition: 0.5s ease all;
}
