@use "../abstract/variables" as var;

.home-page .featured-card {
  display: block;
  padding: 25px;
  border: 2px solid var.$foreground;
  background: var.$foreground;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

  h4 {
    font-size: 25px;
    font-weight: 600;
    color: var.$heading-clr;
    text-transform: capitalize;
  }
  h5 {
    font-size: 18px;
    font-weight: 600;
    color: var.$primary;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    span {
      font-size: 18px;
      font-weight: 600;
      color: var.$primary;
    }
    svg {
      width: 40px;
      height: 40px;
      color: var.$heading-clr;
      transition: 0.5s ease all;
    }
  }

  &:hover svg {
    transform: translateX(10px);
  }
}

.home-page .release-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.story-card {
  background: var.$background;
  border: 2px solid var.$foreground;
  padding: 25px;
  border-radius: 10px;

  h4 a {
    font-size: 20px;
    font-weight: 600;
    color: var.$heading-clr;
    text-transform: capitalize;
  }
  h5 {
    margin-bottom: 15px;

    a {
      font-size: 16px;
      font-weight: 600;
      color: var.$primary;
      text-transform: capitalize;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    h6 {
      font-size: 16px;
      font-weight: 400;
      color: var.$text-clr;
      span {
        font-weight: 600;
        color: var.$heading-clr;
      }
    }
  }
}
