@use "../abstract/variables" as var;

.stories-page .release-cards {
  transition: 0.5s ease all;
  &.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &.list-view {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.stories-page .view-option {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;

  button {
    width: 30px;
    height: 30px;
    background: var.$background;
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var.$primary;
    transition: 0.3s ease all;

    svg {
      width: 15px;
      height: 15px;
      color: var.$primary;
    }
    &.active {
      background: var.$primary;
      svg {
        color: var.$heading-clr;
      }
    }
  }
}
