/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --serif: "Playfair Display", serif;
  --sans-serif: "Poppins", sans-serif;

  /* Colors */
  --primary: #46a8a8;
  --secondary: #198383;
  --dark: #1e1e1e;
  --dark-alt: #303030;
  --light: #ffffff;
  --light-alt: #eaeaea;
  --error: #ef4444;
}
:root,
[data-theme="light"] {
  /* Colors */
  --background: #ffffff;
  --background-alt: #eaeaea;
  --foreground: #1e1e1e;
  --foreground-alt: #303030;
}
[data-theme="dark"] {
  /* Colors */
  --background: #1e1e1e;
  --background-alt: #303030;
  --foreground: #ffffff;
  --foreground-alt: #eaeaea;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--background-alt);
  color: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--background);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--foreground-alt);
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--foreground-alt);
  line-height: 150%;
}
p a {
  font-weight: 400;
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--secondary);
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}
.bg-background {
  background: var(--background) !important;
}
.bg-background-alt {
  background: var(--background-alt) !important;
}
.bg-foreground {
  background: var(--foreground) !important;
}
.bg-foreground-alt {
  background: var(--foreground-alt) !important;
}
.bg-error {
  background: var(--error) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}
.text-background {
  color: var(--background) !important;
}
.text-background-alt {
  color: var(--background-alt) !important;
}
.text-foreground {
  color: var(--foreground) !important;
}
.text-foreground-alt {
  color: var(--foreground-alt) !important;
}
.text-error {
  color: var(--error) !important;
}

/* Logo */
.logo {
  font-size: 45px;
  font-family: var(--serif);
  font-weight: 700;
  line-height: 100%;
  color: var(--primary);
  text-transform: capitalize;
}

/* Fonts */
.heading {
  font-size: 30px;
  font-weight: 500;
  color: var(--foreground);
  text-transform: capitalize;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  text-decoration: none;
  border: 0;
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s ease all;
}
.button:hover {
  background-color: var(--secondary);
}
.button-block {
  display: block;
  width: 100%;
}

/* Forms */
.form-group {
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.form-group .form-label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
  margin-bottom: 3px;
}
.form-group .form-control {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background);
  border: 1px solid var(--background-alt);
  border-radius: 5px;
  outline: 0;
  transition: 0.5s ease all;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
}
.form-group .form-control:focus {
  border-color: var(--primary);
}
.form-group .form-control::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #4e4e4e;
}
.form-group .form-control[type="password"]::-ms-reveal,
.form-group .form-control[type="password"]::-ms-clear {
  display: none;
}
.form-group .toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--foreground-alt);
  cursor: pointer;
}

/* Dashboard */
.db-logo {
  font-size: 25px;
  font-family: var(--serif);
  font-weight: 700;
  line-height: 100%;
  color: var(--primary);
}
.db-logo span {
  color: var(--foreground);
}
