/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --serif: "Playfair Display", serif;
  --sans-serif: "Poppins", sans-serif;

  /* Colors */
  --primary: #46a8a8;
  --secondary: #198383;
  --dark: #1e1e1e;
  --dark-alt: #303030;
  --light: #ffffff;
  --light-alt: #eaeaea;
  --error: #ef4444;
}
:root,
[data-theme="light"] {
  /* Colors */
  --background: #ffffff;
  --background-alt: #eaeaea;
  --foreground: #1e1e1e;
  --foreground-alt: #303030;
}
[data-theme="dark"] {
  /* Colors */
  --background: #1e1e1e;
  --background-alt: #303030;
  --foreground: #ffffff;
  /* --foreground-alt: #eaeaea; */
  --foreground-alt: #d1d1d1;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--background-alt);
  color: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--background);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--foreground-alt);
  line-height: 150%;
}
p a {
  font-weight: 400;
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--secondary);
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}
.bg-background {
  background: var(--background) !important;
}
.bg-background-alt {
  background: var(--background-alt) !important;
}
.bg-foreground {
  background: var(--foreground) !important;
}
.bg-foreground-alt {
  background: var(--foreground-alt) !important;
}
.bg-error {
  background: var(--error) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}
.text-background {
  color: var(--background) !important;
}
.text-background-alt {
  color: var(--background-alt) !important;
}
.text-foreground {
  color: var(--foreground) !important;
}
.text-foreground-alt {
  color: var(--foreground-alt) !important;
}
.text-error {
  color: var(--error) !important;
}

/* Logo */
.logo {
  font-size: 45px;
  font-family: var(--serif);
  font-weight: 700;
  line-height: 100%;
  color: var(--primary);
  text-transform: capitalize;
}

/* Fonts */
.heading-divider {
  display: block;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--background-alt);
  margin: 10px 0 30px;
}
.heading {
  font-size: 30px;
  font-weight: 500;
  color: var(--foreground);
  text-transform: capitalize;
}
.sub-heading {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
  text-transform: capitalize;
}
.db-title {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--serif);
  color: var(--foreground);
  text-transform: capitalize;
  line-height: 100%;
}
.db-title span {
  color: var(--primary);
}

/* Buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--primary);
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s ease all;
}
.button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}
.button-block {
  display: block;
  width: 100%;
}
.button-outline {
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--primary);
}
.button-outline:hover {
  color: var(--light);
}
.button-error-outline {
  background-color: transparent;
  color: var(--error);
  border: 1px solid var(--error);
}
.button-error-outline:hover {
  background-color: var(--error);
  border: 1px solid var(--error);
  color: var(--light);
}
.button-error {
  background-color: var(--error);
  color: var(--light);
  border: 1px solid var(--error);
}
.button-error:hover {
  background-color: var(--error);
  border: 1px solid var(--error);
  color: var(--light);
}
.button-sm {
  padding: 7px 15px;
  font-size: 14px;
}

/* Forms */
.form-group {
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.form-group .form-label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
  margin-bottom: 3px;
}
.form-group .form-control,
.form-group .form-select {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background);
  border: 1px solid var(--background-alt);
  border-radius: 5px;
  outline: 0;
  transition: 0.5s ease all;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
}
.form-group .form-control:focus,
.form-group .form-select:focus {
  border-color: var(--primary);
}
.form-group .form-select {
  appearance: none;
}
.form-group .form-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
}
.form-group .form-control::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #4e4e4e;
}
.form-group .form-control[type="password"]::-ms-reveal,
.form-group .form-control[type="password"]::-ms-clear {
  display: none;
}
.form-group textarea.form-control {
  height: 150px;
}
[data-theme="light"]
  .form-group
  .form-control::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
[data-theme="dark"]
  .form-group
  .form-control::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.form-group .toggle-control {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--foreground-alt);
  cursor: pointer;
}

/* Dashboard */
.db-logo {
  font-size: 25px;
  font-family: var(--serif);
  font-weight: 700;
  line-height: 100%;
  color: var(--primary);
  white-space: nowrap;
  transition: 0.5s ease all;
  padding-left: 10px;
}
.db-logo span {
  color: var(--foreground);
}

/* Table */
.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  border-bottom: 1px solid var(--background-alt);
  padding: 8px;
  text-align: left;
  padding: 10px;
}
.table th {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}
.table td {
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
}

/* Alert */
.alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
  z-index: 100;
  background: var(--light);
  border-bottom: 5px solid var(--primary);
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.5s ease all;
  animation: slideAlert 0.5s ease;
  overflow: hidden;
}
@keyframes slideAlert {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 10px;
    opacity: 1;
  }
}
.alert.alert-success {
  border-color: var(--success);
}
.alert.alert-error {
  border-color: var(--error);
}
.alert .close-alert-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--error);
  border-radius: 3px;
}
.alert p {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: #24242461;
  backdrop-filter: blur(5px);
}
.modal .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: var(--background);
  animation: slideInModal 0.5s ease;
}
@keyframes slideInModal {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.modal .modal-content .close-btn {
  position: absolute;
  top: 20px;
  left: -40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  opacity: 1;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}
.modal .modal-body {
  padding: 30px;
  height: 100%;
  overflow-y: auto;
}

/* Card */
.card {
  position: relative;
  width: 100%;
  border: 1px solid var(--background-alt);
  border-radius: 5px;
}
.card .card-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.card .card-header .card-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
}
.card .card-body {
  padding: 20px;
}

/* Accordion */
.accordion {
  position: relative;
  width: 100%;
}
.accordion .accordion-item {
  position: relative;
  border: 1px solid var(--background-alt);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.5s ease all;
  overflow: hidden;
}
.accordion .accordion-item .accordion-title {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--foreground);
  background: var(--background-alt);
  transition: 0.5s ease all;
}
.accordion .accordion-item.active .accordion-title {
  background-color: var(--primary);
  color: var(--light);
}
.accordion .accordion-item .accordion-title svg {
  width: 20px;
  height: 20px;
  color: var(--primary);
  transition: 0.5s ease all;
}
.accordion .accordion-item.active .accordion-title svg {
  transform: rotate(-180deg);
  color: var(--light);
}
.accordion .accordion-item .accordion-content {
  height: 0;
  transition: 0.5s ease all;
}
.accordion .accordion-item.active .accordion-content {
  height: auto;
}
