@import url(./tailwind.config.css);
@import url(./base.css);

/* * Auth Section */
.auth-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--background);
}
.auth-section .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.auth-section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.auth-section .content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.auth-section .auth-content {
  max-width: 400px;
  width: 100%;
}
/* * Auth Section */

/* * Dashboard Pages */
.db-wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}
.db-wrapper .db-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  border-right: 1px solid var(--background-alt);
  transition: 0.5s ease all;
}
.db-wrapper.collapsed .db-sidebar {
  width: 100px;
}
.db-wrapper .db-content {
  position: absolute;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid var(--background-alt);
  transition: 0.5s ease all;
}
.db-wrapper.collapsed .db-content {
  width: calc(100% - 100px);
  left: 100px;
}

/* Sidebar */
.db-sidebar {
  transition: 0.5s ease all;
}
.db-sidebar .toggle {
  position: absolute;
  top: 60px;
  right: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-alt);
  font-size: 16px;
  color: var(--foreground);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s ease all;
  z-index: 2;
  transform: rotate(180deg);
}
.db-wrapper.collapsed .db-sidebar .toggle {
  transform: rotate(0);
}
.db-sidebar .toggle:hover {
  background-color: var(--primary);
}
.db-sidebar .content {
  position: relative;
  z-index: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.db-sidebar .content .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: 0;
}
.db-sidebar .actions .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.db-sidebar .actions .profile a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.db-sidebar .actions .profile a img {
  width: 59px;
  border-radius: 5px;
}
.db-sidebar .actions .profile a span {
  width: calc(100% - 80px);
  transition: 0.5s ease all;
  opacity: 1;
  margin-left: 20px;
}
.db-wrapper.collapsed .db-sidebar .actions .profile a span {
  width: 0;
  opacity: 0;
  margin-left: 0;
}
.db-sidebar .actions .profile a span b {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
}
.db-sidebar .actions .profile a span i {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary);
  font-style: normal;
}
.db-sidebar .actions .profile .logout {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease all;
  opacity: 1;
  margin-left: 20px;
}
.db-sidebar .actions .profile .logout svg {
  width: 25px;
  height: 25px;
}
.db-wrapper.collapsed .db-sidebar .actions .profile .logout {
  width: 0;
  opacity: 0;
  margin-left: 0;
}
.db-sidebar .db-nav {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.db-sidebar .db-nav .nav-item .nav-link,
.db-sidebar .actions .theme-switch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  color: var(--foreground);
}
.db-sidebar .db-nav .nav-item .nav-link.active {
  color: var(--primary);
}
.db-sidebar .db-nav .nav-item .nav-link .icon,
.db-sidebar .actions .theme-switch .icon {
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.db-sidebar .db-nav .nav-item .nav-link span,
.db-sidebar .actions .theme-switch span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  transition: 0.5s ease all;
  margin-left: 20px;
  width: calc(100% - 79px);
  text-align: left;
}
.db-wrapper.collapsed .db-sidebar .db-nav .nav-item .nav-link span,
.db-wrapper.collapsed .db-sidebar .actions .theme-switch span {
  opacity: 0;
  width: 0;
  margin-left: 0;
}

/* Dashboard Header */
.db-header {
  position: relative;
  padding: 1.5rem 0;
  background-color: var(--background);
}
.db-header .db-search {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 45px;
}
.db-header .db-search .form {
  width: 100%;
  border: 1px solid var(--background-alt);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.db-header .db-search .form .icon {
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--foreground);
}
.db-header .db-search .form .filter {
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--foreground);
  border-left: 1px solid var(--background-alt);
  transition: 0.5s ease all;
}
.db-header .db-search .form .filter:hover,
.db-header .db-search .form .filter:active,
.db-header .db-search .form .filter:focus {
  color: var(--primary);
}
.db-header .db-search .form input {
  width: calc(100% - 100px);
  background-color: var(--background);
  border: 0;
  outline: 0;
  transition: 0.5s ease all;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground);
}
.db-header .db-search .form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #4e4e4e;
}
.db-header .db-search .content {
  position: absolute;
  top: 100%;
  padding: 15px;
  background-color: var(--background);
  border: 1px solid var(--background-alt);
  width: 100%;
  border-radius: 5px;
}
.db-header .db-search .content ul li {
  margin-bottom: 3px;
}
.db-header .db-search .content ul li:last-child {
  margin-bottom: 0;
}
.db-header .db-search .content ul li a {
  font-size: 14px;
  font-weight: 300;
  color: var(--foreground);
  transition: 0.5s ease all;
}
.db-header .db-search .content ul li a:hover {
  color: var(--primary);
}

/* * Dashboard Pages */

/* * Responsive */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .logo {
    font-size: 40px;
  }
  .heading {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 30px;
  }
  .heading {
    font-size: 23px;
  }
  .auth-section {
    display: block;
    height: auto;
  }
  .auth-section .image {
    height: 200px;
  }
  .auth-section .content {
    padding: 50px 30px;
    height: auto;
  }
}

@media (max-width: 550px) {
}
