<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story App</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>Welcome!</h1>
          <p><b><%= email %></b></p>
          <p>Hello, <b><%= full_name %></b></p>
          <p>Your Account is successfully created.</p>
          <p>Please click the following link to explore your routine.</p>
          <a href="<%= appUrl %>">Explore Now!</a>

          <p>Thank you,</p>
          <p>Story App</p>
        </div>
      </div>
    </div>
  </body>
</html>
