<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story App - Verify Email</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>Verify Email</h1>
          <p><b><%= email %></b></p>
          <p>Hello, <b><%= full_name %></b></p>
          <p>Please click the following link to verify your email:</p>
          <a href="<%= verifyLink %>">Verify</a>

          <p>Thank you,</p>
          <p>Story App</p>
        </div>
      </div>
    </div>
  </body>
</html>
