@use "../abstract/variables" as var;

.heading {
  font-size: 40px;
  font-weight: 600;
  color: var.$heading-clr;
  line-height: 100%;
}

.sub-heading {
  font-size: 25px;
  font-weight: 600;
  color: var.$heading-clr;
  line-height: 100%;
  margin-bottom: 25px;
}

.auth-heading {
  font-size: 35px;
  font-weight: 600;
  font-family: var.$serif;
  color: var.$primary;
  line-height: 100%;
  margin-bottom: 15px;

  span {
    color: var.$heading-clr;
  }
}
