@use "../abstract/variables" as var;

.d-flex {
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  &.align-start {
    align-items: flex-start !important;
  }
  &.align-end {
    align-items: flex-end !important;
  }
  &.align-center {
    align-items: center !important;
  }
  &.align-stretch {
    align-items: stretch !important;
  }

  &.justify-start {
    justify-content: flex-start !important;
  }
  &.justify-end {
    justify-content: flex-end !important;
  }
  &.justify-center {
    justify-content: center !important;
  }
  &.justify-between {
    justify-content: space-between !important;
  }
  &.justify-around {
    justify-content: space-around !important;
  }

  &.flex-row {
    flex-direction: row !important;
  }
  &.flex-row-reverse {
    flex-direction: row-reverse !important;
  }
  &.flex-column {
    flex-direction: column !important;
  }
  &.flex-column-reverse {
    flex-direction: column-reverse !important;
  }
}
