@use "../abstract/spacing" as space;

// Margin
@each $name, $unit in space.$spacing {
  .m-#{$name} {
    margin: $unit !important;
  }
  .mt-#{$name} {
    margin-top: $unit !important;
  }
  .mb-#{$name} {
    margin-bottom: $unit !important;
  }
  .ms-#{$name} {
    margin-left: $unit !important;
  }
  .me-#{$name} {
    margin-right: $unit !important;
  }
  .mx-#{$name} {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .my-#{$name} {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
}

// Padding
@each $name, $unit in space.$spacing {
  .p-#{$name} {
    margin: $unit !important;
  }
  .pt-#{$name} {
    margin-top: $unit !important;
  }
  .pb-#{$name} {
    margin-bottom: $unit !important;
  }
  .ps-#{$name} {
    margin-left: $unit !important;
  }
  .pe-#{$name} {
    margin-right: $unit !important;
  }
  .px-#{$name} {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .py-#{$name} {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
}
